<!-- Footer -->
<footer th:fragment="suffix" class="sticky-footer bg-white" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <p th:text="'特别鸣谢 &mdash; ' + ${#dates.format(new java.util.Date().getTime(),'yyyy')} + '   &mdash; 小袁智育科技北京有限公司.&reg;'"></p>
            <p><a href="http://beian.miit.gov.cn" target="_blank">
                <span>渝ICP备19015623号</span>
            </a></p>
        </div>
    </div>
</footer>
