<html>
<head>
    <meta charset="UTF-8">
    <title>#云棋盘回放</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>
<body>
<div>
    <input id="bridge-cheep-id" hidden>
    <input id="bridge-index" hidden>
    <input id="bridge-max" hidden>
    <table class="table table-hover table-sm table-bordered table-sm" style="margin-bottom: 20%">
        <thead class="text-center">
        <tr>
            <th scope="col">步数</th>
            <th scope="col">招法</th>
            <th scope="col">颜色</th>
            <th scope="col">备注</th>
        </tr>
        </thead>
        <tfoot class="text-center">
        <tr>
            <th scope="col">步数</th>
            <th scope="col">招法</th>
            <th scope="col">颜色</th>
            <th scope="col">备注</th>
        </tr>
        </tfoot>
        <tbody class="font-italic text-dark" style="font-size: 10px">
        </tbody>
    </table>
    <div class="btn-group btn-group-sm fixed-bottom " role="group">
        <button id="first" class="btn btn-primary" type="button">回到第一步</button>
        <button id="prev" class="btn btn-primary" type="button">上一步
        </button>
        <button id="next" class="btn btn-primary" type="button">下一步
        </button>
    </div>
</div>
</body>
<script src="/js/replay.js"></script>
</html>
