<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>#民族棋-Minzuchess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/custom.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="common/nav :: nav" ></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>
                    欢迎来到民族棋网,您可以注册一个账户获得云棋盘码<br>
                    让好友一起来对弈吧
                </strong>
            </div>
            <div class="alert alert-dismissible alert-success">
                <strong>
                    输入棋盘码回车进入云棋盘|输入棋盘编号回车去观战
                </strong>
            </div>
            <form class="form-group mt-4" id="enter-form">
                <input type="text" class="form-control form-control-lg rounded p-5 text-center "
                       style="font-size:80px;color:#037;"
                       placeholder="x" name="code_or_alias">
            </form>
            <div class="jumbotron  text-white rounded bg-dark">
                <a href="/pages/tibet.html"><img src="/img/tibetchess.png" class="img-fluid rounded"></a>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">#1</strong>
                            <h3 class="mb-0">藏棋久</h3>
                            <div class="mb-1 text-muted"></div>
                            <p class="card-text mb-auto">藏棋"久"音(jiu)是藏语"棋"的意思，盛行于四川阿坝州，源头待考！机器博弈竞赛首个民族棋类。</p>
                            <a href="/md/久棋规则及棋谱简介.pdf" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block" width="200" height="366">
                            <img src="/img/jiu.png" width="200">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">#2</strong>
                            <h3 class="mb-0">民族跳棋</h3>
                            <div class="mb-1 text-muted"></div>
                            <p class="card-text mb-auto">民族跳棋借鉴了多个民族棋样本和棋规，综合合成一个游戏，用于人工智能教育和棋文化研究。</p>
                            <a href="/md/mintiao_v0.11.pdf" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block" width="200" height="366">
                            <img src="/img/xiaoyuan/mintiao.png" width="200">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">#3</strong>
                            <h3 class="mb-0">吉日格棋</h3>
                            <div class="mb-1 text-muted"></div>
                            <p class="mb-auto">吉日格棋（蒙古战棋）以9路形制最近藏棋"久"，攻防转换快，因而入选青少年机器博弈活动！</p>
                            <a href="/md/jirige.pdf" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="/img/jirige.png" width="200">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">#4</strong>
                            <h3 class="mb-0">多依布棋</h3>
                            <div class="mb-1 text-muted"></div>
                            <p class="mb-auto">哈萨克族多依布棋: 基础玩法与64格国际跳棋(俄罗斯规则)相近，特色棋具棋规展现了民族文化！</p>
                            <a href="/md/duoyibu.pdf" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="/img/xiaoyuan/duoyibu2.png" width="200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-primary mb-3">
                <div class="card-header">使用手册</div>
                <div class="card-body">
                    <a class="page-link btn mb-1" href="/pages/api.html">云棋盘AI使用API说明</a>
                    <a class="page-link btn mb-1" href="/pages/introduction.html">云棋盘使用说明</a>
                    <a class="page-link btn mb-1" href="/md/久棋规则及棋谱简介.pdf">久棋规则及棋谱简介</a>
                </div>
            </div>
        </div>
    </div>
</div>
        <div th:replace="common/footer :: footer" ></div>
</body>
<script src="js/custom.js"></script>
<script>
    $(function () {
        $("#enter-form").submit(function () {
            var $this = $(this);
            $.post('/chess/go/chess', $this.serialize(), function (data) {
                if (!data.success) {
                    var html = '<div class="alert alert-dismissible alert-danger">\n' +
                        '<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '<strong>' + data.msg + '</strong>\n' +
                        '</div>';
                    $this.before(html);
                } else {
                    location.href = data.data;
                }
            }, 'json');
            return false;
        })
    })
</script>
</body>
</html>
