<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>#队伍-Minzuchess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/custom.min.css">
    <link rel="stylesheet" href="/css/team.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="common/nav :: nav" ></div>
<div class="bg-diy">
    <div class="container">
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">民族棋大家庭!</h4>
            <p class="mb-0">欢迎来到团队预览,这里有所有团队信息.<a th:if="!${user}" href="/register1"
                                                  class="alert-link">还没加入队伍?去注册添加一个吧</a>
            </p>
        </div>
        <div class="card border-dark mb-3">
            <h3 class="card-header">团队</h3>
            <div class="card-body">
                <div class="list-group-flush row">
                    <div class="list-group-item  col-lg-6" th:each="teamPage:${teamPages}">
                        <a th:href="'/team_main/' + ${teamPage.teamUser.teamId}" class="text-decoration-none">
                            <h4 class="card-title" th:text="${teamPage.teamUser.team.teamName}"></h4>
                            <div class="text-dark">
                                <p class="text"><span><img width="17" height="17" src="/icons/star-fill.svg">&nbsp;
                                <none th:switch="${teamPage.teamUser.userInfo.stat}">
                                    <span th:case="1">个人</span>
                                    <span th:case="2" th:text="'民间&nbsp;' + ${teamPage.teamUser.team.province.name}"></span>
                                    <span th:case="3" th:text="'高校&nbsp;' + ${teamPage.teamUser.team.school.name}"></span>
                                </none>
                                </span>
                                <span class="float-right text-black-50"><img src="/icons/egg-fried.svg"
                                                                             width="17"
                                                                             height="17">
                                                <span th:text="'&nbsp;队长:&nbsp;' + ${teamPage.teamUser.userInfo.realName}"></span>
                                        </span>
                                </p>
                                <p class="text-over-hide"><span><img width="17" height="17" src="/icons/bookmark-fill.svg"></span><span th:text="'&nbsp;' + ${teamPage.teamUser.team.introduction}"></span>
                                    <span class="float-right text-black-50"><img src="/icons/people.svg" width="17"
                                                                                 height="17">
        <span th:text="'&nbsp;' + ${teamPage.counts}"></span></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer :: footer" ></div>

<script src="/js/custom.js"></script>
</body>
</html>
